.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-wrapper {
  max-width: 90%;
  width: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.image-container {
  display: block;
  max-width: 800px;
  margin: auto;
  padding: 20px; /* Adjust padding as needed */
}

.absolute-button {
  position: static; /* Change position to static for smaller screens */
  margin-top: 15px;
}

ion-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logo-container {
  text-align: center;
  transition: transform 0.5s ease; /* Add animation transition */
  position: absolute;
  top: 390px; 
  left: 67%; 
  transform: translateX(-50%);
  width: 66px; 
  height: auto;
}

.move-logo {
  transform: translateY(-50px); /* Move logo up by 50px when object detected */
}