.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-wrapper {
  max-width: 90%;
  width: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.image-container {
  display: block;
  max-width: 800px;
  margin: auto;
  padding: 20px; /* Adjust padding as needed */
}

.absolute-button {
  position: static; /* Change position to static for smaller screens */
  margin-top: 15px;
}

ion-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-image {
  0% {
    left: 1000px; /* Start position */
  }
  100% {
    left: 700px; /* End position */
  }
}

.logo-container {
  position: absolute;
  top: 390px; 
  left: 67%; 
  left: 0; /* Initial position */
  top: 50%;
  width: 66px; 
  height: auto;
  transform: translateY(-50%);
  animation: move-image 2s 2 alternate; 
  animation-fill-mode: forwards;
}
