.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-wrapper {
  max-width: 90%;
  width: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.image-container {
  display: block;
  max-width: 800px;
  margin: auto;
  padding: 20px; /* Adjust padding as needed */
}

.absolute-button {
  position: static; /* Change position to static for smaller screens */
  margin-top: 15px;
}

ion-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-image {
  0% {
    left: 1000px; /* Start position */
    top: 50%;
  }
  20% {
    left: 720px;
    top: 58%;
  }
  40% {
    left: 750px;
    top: 40%;
  }
  60% {
    left: 500px;
    top: 70%;
  }

  80% {
    left: 790px;
    top: 70%;
  }

  100% {
    left: 1000px; /* End position */
    top: 60%;
  }
}


.logo-container {
  position: absolute;
  top: 50%;
  left: 67%;
  left: 0; /* Initial position */
  width: 60px;
  height: auto;
  transform: translate(-50%, -50%);
  animation: move-image 10s infinite alternate, blink-animation 1s 0;
  animation-fill-mode: forwards;
}